---

---

<section id="contacto">
    <div>
        <figure>
            <img width="150" src="https://st2.depositphotos.com/3078691/8709/i/450/depositphotos_87097204-stock-photo-happy-smiling-older-man.jpg" alt="">
        </figure>
    </div>
    <form action="">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="user@example.com">

        <label for="description">Descripción (<i>opcional</i>) </label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="descripción"></textarea>

        <button>Contactar</button>
    </form>
</section>