---
import ServicioCard from "./ServicioCard.astro";
const servicios = await Astro.glob('../servicios/*.md')
---

<section id="servicios">
    <h3>Servicios</h3>
    <section class="content-card">
        {
            servicios.map(({frontmatter}) => <ServicioCard body={frontmatter.body} title={frontmatter.title} />)
        }
    </section>
</section>

<style>
    h3 {
        padding-block-start: 5rem;
        margin-block-end: 3rem;
        font-size: 3rem;
        text-align: center;
        font-family: serif;
        text-decoration: underline;
    }
    .content-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.2rem;
    }
</style>